h3 {
    color: var(--primary-color);
    font-weight: 700;
    margin: 0;
}

.card {
    border: none;
}

.card-header {
    border: none;
    border-radius: 20px;
}

th {
    width: 350px;
    text-transform: uppercase;
}

td {
    height: 60px;
}

img {
    justify-content: center;
}