/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-color:#6c9d3d;
    --secondary-color:#8dc44f;
}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}